__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
*.egg-info/
.venv/
venv/
.env
.DS_Store
*.log
*.sqlite3

# local editor folders
.vscode/
.idea/

# Data & Model Artifacts
*.joblib
*.pkl
reviews_with_features.csv
Dataset/

